body {
  background-color: #1b1b1f;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(31, 41, 55, 1);

  .card-header,
  .card-text,
  .card-title {
    color: white;
  }
}
