body {
  background-color: #1b1b1f;
  color: white;
  background-image: url(./assets/flying-dollar.gif) ;
}

.card {
  background-color: rgba(31, 41, 55, 1);

  .card-header,
  .card-text,
  .card-title {
    color: white;
  }
}
